__pycache__/
.*
*.pid
*.xml
*.csr
*.crt
*.key
*.sh
*.json
*.conf
*.db-journal
*.bak
*.off
*.html
OZW_Log.txt
home-assistant.log*
appdaemon.log
home-assistant_v2.db*
pyozw.sqlite
www
lib
deps
tts
custom_components
scripts
secrets.yaml
travis_secrets.yaml
known_devices.yaml
WIP*.py
panels
python_scripts/shellies_discovery*
themes/*/*.*
adb/*
!.gitignore
alexa_media.*
core
image
debug.log
blueprints
watchman_report.txt
zigbee*
go2rtc-1.8.5
go2rtc.yaml
!.yamllint
