.*
*.pid
*.xml
*.csr
*.crt
*.key
*.sh
*.json
*.conf
*.db-journal
*.pyc
OZW_Log.txt
home-assistant.log
appdaemon.log
home-assistant_v2.db*
pyozw.sqlite
www
lib
deps
tts
custom_components
scripts
secrets.yaml
travis_secrets.yaml
known_devices.yaml
!/.gitignore
