automation: !include automations.yaml

default_config:

recorder:
  db_url: !secret mysql_db_url
  purge_keep_days: 7
  exclude:
    domains:
      - geo_location

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js?hacstag=190927524421

group: !include groups.yaml

homeassistant:
  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml

http:
  ip_ban_enabled: true
  login_attempts_threshold: 3
  use_x_forwarded_for: true
  trusted_proxies: !secret http_trusted_proxies

logbook:
  exclude:
    domains:
      - device_tracker
      - script
    entity_globs:
      - binary_sensor.*_status
      - sensor.*_last_restart

logger: !include logger.yaml

python_script:

scene: !include scenes.yaml

script: !include scripts.yaml

template: !include templates.yaml

ios: !include ios.yaml

sensor: !include sensors.yaml

zha:
  zigpy_config:
    ota:
      extra_providers:
        - type: z2m

intent_script: !include intent_scripts.yaml
