automation: !include automations.yaml

default_config:

recorder:
  db_url: !secret mysql_db_url
  purge_keep_days: 7
  exclude:
    domains:
      - geo_location
    entity_globs:
      - sensor.airly_*
    entities:
      - weather.accuweather

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
      - /hacsfiles/lovelace-card-mod/card-mod.js

group: !include groups.yaml

homeassistant:
  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml

http:
  ip_ban_enabled: true
  login_attempts_threshold: 3
  use_x_forwarded_for: true
  trusted_proxies: !secret http_trusted_proxies

logbook:
  exclude:
    domains:
      - device_tracker
      - script
    entity_globs:
      - binary_sensor.*_status
      - sensor.*_last_restart
      - sensor.*_last_boot
      - sensor.*_uptime

logger: !include logger.yaml

python_script:

scene: !include scenes.yaml

script: !include scripts.yaml

fan: !include fans.yaml

media_player: !include media_players.yaml

template: !include templates.yaml

ios: !include ios.yaml

panel_custom:
  - name: zha_map
    sidebar_title: Zigbee
    sidebar_icon: mdi:zigbee
    js_url: /api/hassio/app/entrypoint.js
    url_path: config/zha/visualization?config_entry=f9ae1510a963b99ee5fba82bf62904ae
    embed_iframe: true
    require_admin: true
    config:
      ingress: core_configurator

weather: !include weather.yaml

mqtt: !include mqtt.yaml
