name: CI

on: [push, pull_request]

jobs:
  yamllint:
    
    name: YAML Lint
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Run yamllint
        run: yamllint .
  
